In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('C:/Users/Wang/Desktop/Python4DataAnalysis/Final/test7.csv')

In [4]:
data_boston = pd.DataFrame(columns = data.columns)
data_sanfran = pd.DataFrame(columns = data.columns)
data_houston = pd.DataFrame(columns = data.columns)
data_chicago = pd.DataFrame(columns = data.columns)
data_palo = pd.DataFrame(columns = data.columns)
data_newyork = pd.DataFrame(columns = data.columns)
data_seattle = pd.DataFrame(columns = data.columns)
data_dc = pd.DataFrame(columns = data.columns)
data_atlanta = pd.DataFrame(columns = data.columns)
data_sandiego = pd.DataFrame(columns = data.columns)

In [12]:
for n in range(len(data)):
    if data.iloc[n]['jobCity'] == 'Atlanta':
        data_atlanta.loc[n] = data.iloc[n]
    elif data.iloc[n]['jobCity'] == 'Boston':
        data_boston.loc[n] = data.iloc[n]
    elif data.iloc[n]['jobCity'] == 'Chicago':
        data_chicago.loc[n] = data.iloc[n]
    elif data.iloc[n]['jobCity'] == 'Houston':
        data_houston.loc[n] = data.iloc[n]
    elif data.iloc[n]['jobCity'] == 'New-York':
        data_newyork.loc[n] = data.iloc[n]
    elif data.iloc[n]['jobCity'] == 'Palo-Alto':
        data_palo.loc[n] = data.iloc[n]
    elif data.iloc[n]['jobCity'] == 'San-Diego':
        data_sandiego.loc[n] = data.iloc[n]
    elif data.iloc[n]['jobCity'] == 'San-Francisco':
        data_sanfran.loc[n] = data.iloc[n]
    elif data.iloc[n]['jobCity'] == 'Seattle':
        data_seattle.loc[n] = data.iloc[n]
    elif data.iloc[n]['jobCity'] == 'Washington':
        data_dc.loc[n] = data.iloc[n]

In [61]:
def ensure_dir(f):
    if not os.path.exists(f):
        os.makedirs(f)

In [13]:
data_all = [data_atlanta,data_boston,data_chicago,data_houston,data_newyork,data_palo,data_sandiego,data_sanfran,data_seattle,data_dc]

In [60]:
city = ['Atlanta','Boston','Chicago','Houston','New-York','Palo-Alto','San-Diego','San-Francisco','Seattle','Washington']

In [62]:
for n in range(len(data_all)):
    data_all[n].index = range(len(data_all[n]))
    path = 'C:/Users/Wang/Desktop/Python4DataAnalysis/Final/data/'
    folderpath = path + city[n]
    ensure_dir(folderpath)
    csvpath = folderpath + '/' + city[n] + '.csv'
    data_all[n].to_csv(csvpath, encoding='utf-8')

In [63]:
data_atlanta.head()

,Unnamed: 0,jobTitle,cmpName,cmpRating,cmpReviewsAmount,cmpReviews,cmpEmployees,jobCity,jobRegion,jobState,...,shark,shell,spark,splunk,spotfire,sps,spss,sql,tableau,zookeeper
0,4864.0,Data Scientist,State Farm,4.0,3500.0,Worked their 10 years ago so my knowledge is o...,"10,000+",Atlanta,Atlanta,GA,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,4865.0,Lead Data Scientist - Immediate Need!,CyberCoders,3.5,18.0,NaN,NaN,Atlanta,Atlanta,GA,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,4866.0,Data Scientist,North Highland,NaN,NaN,NaN,NaN,Atlanta,Berkeley Lake,GA,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,4867.0,Data Scientist Internship (Spring 2017),Cox Automotive,3.3,47.0,Management is the killer in this organization ...,"10,000+",Atlanta,Atlanta,GA,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4868.0,Associate Research Scientist Job,Yoh,3.7,122.0,NaN,NaN,Atlanta,Duluth,GA,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
data_all[0].postDate.unique()

array(['2016-11-30T12:00', '2016-11-23T12:00', '2016-11-08T12:00',
       '2016-12-04T12:00', '2016-11-21T12:00', '2016-11-18T12:00',
       '2016-11-28T12:00', '2016-11-17T12:00', '2016-11-15T12:00',
       '2016-11-22T12:00', '2016-10-14T12:00', '2016-10-07T12:00',
       '2016-12-01T12:00', '2016-12-02T12:00', '2016-11-24T12:00',
       '2016-11-16T12:00', '2016-11-09T12:00', '2016-10-26T12:00',
       '2016-10-20T12:00', '2016-10-17T12:00', '2016-10-16T12:00',
       '2016-10-06T12:00', '2016-10-04T12:00', '2016-09-11T12:00',
       '2016-09-08T12:00', '2016-08-25T12:00', '2016-08-09T12:00',
       '2016-05-27T12:00', '2016-05-26T12:00', '2016-10-31T12:00',
       '2016-10-23T12:00', '2016-09-15T12:00', '2016-11-04T12:00',
       '2016-10-19T12:00', '2016-10-18T12:00', '2016-10-15T12:00',
       '2016-09-10T12:00', '2016-08-23T12:00', '2016-08-11T12:00',
       '2016-07-20T12:00', '2016-05-16T12:00', '2016-11-10T12:00',
       '2016-10-13T12:00', '2016-08-17T12:00', '2016-08-10T12:00',
       '2016-10-28T12:00', '2016-09-28T12:00', '2016-09-04T12:00',
       '2016-09-02T12:00', '2016-11-19T12:00', '2016-10-05T12:00',
       '2016-09-24T12:00', '2016-09-23T12:00', '2016-09-13T12:00',
       '2016-08-08T12:00', '2016-06-23T12:00', '2016-05-19T12:00',
       '2016-11-05T12:00', '2016-10-12T12:00', '2016-11-20T12:00',
       '2016-10-03T12:00', '2016-11-29T12:00', '2016-11-01T12:00',
       '2016-09-14T12:00', '2016-05-23T12:00', '2016-10-11T12:00',
       '2016-07-16T12:00', '2016-05-20T12:00', '2016-10-01T12:00',
       '2016-09-09T12:00', '2016-06-13T12:00', '2016-12-03T12:00',
       '2016-10-09T12:00', '2016-10-30T12:00', '2016-08-15T12:00',
       '2016-08-19T12:00', '2016-08-16T12:00', '2016-11-02T12:00'], dtype=object)

In [32]:
'2016-11-30T12:00' in data_all[0].postDate.unique()

True

In [34]:
type(data_all[0])

pandas.core.frame.DataFrame

In [35]:
import os

In [53]:
'2016-11-30T12:00'.split(':')[0][:-3]

'2016-11-30'

In [67]:
for n in range(len(data_all)):
    basepath = 'C:/Users/Wang/Desktop/Python4DataAnalysis/Final/data/'+city[n] + '/'
    for m in data_all[n].postDate.unique():
        folderpath = basepath + m.split(':')[0][:-3]
        ensure_dir(folderpath)
        a = pd.DataFrame(columns=data.columns)
        for i in range(len(data_all[n])):
            if data_all[n].iloc[i].postDate == m:
                a.loc[i] = data_all[n].iloc[i]
                csvpath = folderpath + '/' + m.split(':')[0][:-3] + '.csv'
                a.to_csv(csvpath,encoding='utf-8')